.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container > * {
  flex: 1;
  font-size: 15vmin;
}

.question {
  flex-grow: 1;
  white-space: nowrap;
  text-align: right;
}

.equals {
  flex-grow: 0;
}

.answer {
  flex-grow: 1;
  min-width: 1vmin;
  background: none;
}
